html, body{
	margin: 0;
	padding: 0;
}
.container{
	padding: 10px;
}
.search-container{
	padding-bottom: 15px;
	border-bottom: 5px solid #ddd;
}
.area-search{
	margin-bottom: 8px;
}
.area-search input{
	width: 100%;	
	height: 22px;
}
.product-table-container{
	padding-top: 20px;
}
.product-table-container table{
	width: 100%;
}
.product-table-container table thead tr td{
	padding: 5px;
}