html, body{
	margin: 0;
	padding: 0;
}
.container{
	padding: 10px;
}
.search-container{
	padding-bottom: 15px;
	border-bottom: 5px solid #ddd;
}
.area-search{
	margin-bottom: 8px;
}
.area-search input{
	width: 100%;	
	height: 22px;
}
.table-container{
	margin: 0;
	padding: 0;
}
.table-container .table-thead{	
	margin: 0;
	padding: 0;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	background: #bdc3c7;
	padding: 10px 7px;
}
.table-container .table-thead li{
	width: 50%;
	list-style: none;	
}
.table-container .table-thead li a{
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: #34495e;
	font-size: 20px;
}
.table-tbody{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	
}
.categories{
	background: #ecf0f1;
	width: 100% !important;
	padding: 10px;
	color: #34495e;
	margin: 0;
}
.table-tbody li{
	width: 100%;
	list-style: none;	
}
.products .item{
	display: flex;
	overflow: hidden;
	flex-direction: row;
	padding: 0;
}
.products .item li{
	padding: 10px 8px;
	width: 50%;
	list-style: none;		
	border-bottom: 0.5px solid #34495e;
	text-align: left;
	background: rgba(236, 240, 241,0.5);
	color: #34495e;
}
.products{
	width: 100%;
	padding: 0;
}
.habis li{
	color: #e74c3c !important;
}